@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AvenirLight";
  src: url("./assets/Fonts/Avenir/Avenir-Light-07.ttf");
}

@font-face {
  font-family: "AvenirRoman";
  src: url("./assets/Fonts/Avenir/Avenir-Roman-12.ttf");
}

@font-face {
  font-family: "AvenirBook";
  src: url("./assets/Fonts/Avenir/Avenir-Book-01.ttf");
}

@font-face {
  font-family: "AvenirMedium";
  src: url("./assets/Fonts/Avenir/Avenir-Medium-09.ttf");
}

@font-face {
  font-family: "AvenirHeavy";
  src: url("./assets/Fonts/Avenir/Avenir-Heavy-05.ttf");
}

@font-face {
  font-family: "Valencia";
  src: url("./assets/Fonts/Valencia/Valencia.ttf");
}

body{
  margin: 0;
  /* overflow-y: hidden; */
}
*{
  box-sizing: border-box;
  /* border: 1px solid red; */
  color: #222;
}
img{
  z-index: 100;
}
body::-webkit-scrollbar {
  display: none;
}
html{
  scrollbar-width: none;
}
img{
  width: 100%;
}
.bar {
  /* -ms-overflow-style: none;  IE and Edge */
  /* scrollbar-width: none;  Firefox */
}
.heroName{
  animation: moveLefr 1s ease;
}
.heroP{
  animation: moveRight 1s ease;
}


.appear{
  /* animation: appearText 1s ease; */
  position: relative;
  animation: appearText 2s linear forwards;
  border: 2px soild red;
}


.appear::after{
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: black;
  position: absolute;
  animation: appearText 1800ms cubic-bezier(0.19, 1, 0.22, 1) forwards;
  animation-delay:0s;
}


.link{
  transition: transform 1000ms;
}
.links:hover .link{

  /* animation: linkMove 0.7s ease; */
  transform: translateX(2rem);

}


@keyframes linkMove {
  0%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(2rem);
  }
  100%{
    transform: translateX(0);
  }
}

@keyframes appearText {
  0%{
    width: 100%;
  }

  100%{
    width: 0%;
  }
}





@keyframes moveLefr {
  0%{
    transform: translateX(-20vw);
    opacity: 0;
  }
  50%{
    transform: translateX(5vw);
  }
  100%{
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes moveRight {
  0%{
    transform: translateX(20vw);
    opacity: 0;
  }
  50%{
    transform: translateX(-5vw);
  }
  100%{
    transform: translateX(0px);
    opacity: 1;
  }
}



